
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block meta %}
        {% endblock %}

        {% tailwind_css %}

        {% block css %}
        {% endblock css %}

        {% block javascript_top %}
        {% endblock javascript_top %}
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% block header %}
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
        {% endblock footer %}

        {% block modal %}
        {% endblock modal %}

        {% block inline_javascript %}
        {% endblock inline_javascript %}

        {% block js %}
        {% endblock js %}

    </body>
</html>


