

{% extends "base.html" %}
{% load static solo_tags %}

{% block css %}
{% endblock css %}

{% block body_class %}bg-yellow-500{% endblock %}

{% block header %} 
    {% include "header.html" %}  
{% endblock header %}
    
{% block content %} 
<div class="bg-yellow-200 mt-28  "> 
	{% get_solo 'main.SiteConfiguration' as main_config %}
	{{ main_config.site_name }}    

</div>

    <!-- Mapa -->
    <div id="map" class="h-screen max-w-full"> 
    </div>
 
{% endblock content %}

{% block inline_javascript %}
<script type="text/javascript">
	var auth = "{{request.user.is_authenticated}}";
	var static_url = "{% get_static_prefix %}";
	var csrft = "{{ csrf_token }}";
	var debug = "{{ debug }}";
	auth == 'True' ? auth = true : auth = false;
	debug == 'True' ? debug = true : debug = false;
	var sitios = {{ sitios|safe }};

  </script>

  {% endblock inline_javascript %}

	{% block js %}
{% comment %} <script type="text/javascript" src="{% static './js/main.js' %}"></script> {% endcomment %}
	{% endblock js %}

